@import "../../assets/sass/variables";

.column_list{
    display: flex;
    gap: 24px;
    list-style-type: none;
    padding: 20px;

    > li{
        width: 280px;

        .column_item_name{
            color: $color_grey_3;
            font: $font_heading_s;
            letter-spacing: 2.4px;
            margin-bottom: 24px;
            padding-left: 28px;
            position: relative;
            text-transform: uppercase;

            &.item-Todo::before{
                background: #49C4E5;
            }

            &.item-Doing::before{
                background: #8471F2;
            }
            &.item-Done::before{
                background: #67E2AE;
            }

            &::before{
                background: goldenrod;
                border-radius: 50%;
                content: "";
                height: 15px;
                left: 0px;
                position: absolute;
                width: 15px;
            }
        }
    }
}