@import "../../assets/sass/variables";

.column_list{
    display: flex;
    gap: 24px;
    height: 100%;
    list-style-type: none;
    margin-bottom: 0;
    min-height: 85vh;
    overflow: auto;
    padding: 20px;
    
    > li{
        min-width: 280px;
        width: 280px;

        .column_item_name{
            color: $color_grey_3;
            font: $font_heading_s;
            letter-spacing: 2.4px;
            margin-bottom: 24px;
            padding-left: 28px;
            position: relative;
            text-transform: uppercase;

            &.item-Todo::before{
                background: #49C4E5;
            }

            &.item-Doing::before{
                background: #8471F2;
            }
            &.item-Done::before{
                background: #67E2AE;
            }

            &::before{
                background: goldenrod;
                border-radius: 50%;
                content: "";
                height: 15px;
                left: 0px;
                position: absolute;
                width: 15px;
            }
        }

        &.new_column{
            margin-top: 40px;
            > button{
                background: linear-gradient(180deg, #E9EFFA 0%, rgba(233, 239, 250, 0.5) 100%);
                border-radius: 6px;
                border: none;
                color: $color_grey_3;
                font: $font_heading_xl;
                height: 100%;
                outline: none;
                width: 280px;

                &:hover{
                    color: $color_primary;
                }
            }
        }
    }
}

.dark{
    .column_list{
        > li{
            &.new_column{
                > button{
                    background: linear-gradient(180deg, rgba(43, 44, 55, 0.25) 0%, rgba(43, 44, 55, 0.125) 100%);
                }
            }
        }
    }
}