@import "../../assets/sass/variables";

aside{
    background: $color_white;
    border-right: 1px solid $color_grey_2;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: -300px;
    position: fixed;
    top: 0;
    transition: left .2s;
    width: 300px;
    z-index: 10;

    .logo{
        background: url("/images/logo-dark.svg") center / contain no-repeat;
        background-size: 152.53px 25.22px;
        display: block;
        height: 90px;
        margin-bottom: 18px;
        width: 220px;
    }

    >p{
        color: $color_grey_3;
        font: $font_heading_s;
        letter-spacing: 2.4px;
        margin-bottom: 22px;
        padding-left: 32px;
        text-transform: uppercase;
    }

    ul{
        list-style-type: none;
        padding: 0 23px 0 0;

        li{
            cursor: pointer;
            transition: background .2s;

            &.create_board{
                button{
                    color: $color_primary;
                    &::before{
                        background: url("/images/icon-board-purple.svg") center / contain no-repeat;
                    }
                }
            }

            button{
                align-items: center;
                background: none;
                border-radius: 0 100px 100px 0;
                border: none;
                color: $color_grey_3;
                display: flex;
                font: $font_heading_m;
                outline: none;
                padding: 10px 0 10px 32px;
                position: relative;
                width: 100%;
                .board_icon{
                    background: url("/images/icon-board.svg") center / contain no-repeat;
                    display: block;
                    height: 16px;
                    margin-right: 17px;
                    width: 16px;
                }
            }
        }
    }

    .theme{
        align-items: center;
        background: $color_grey_1;
        border-radius: 6px;
        display: flex;
        gap: 23px;
        height: 48px;
        justify-content: center;
        margin: auto auto 0;
        width: 250px;

        #theme_switch{
            background-color: $color_primary;
            background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
            background-position: 2px center;
            background-size: 14px;
            border: none;
            cursor: pointer;
            height: 20px;
            width: 40px;
            
            &:checked{
                background-color: $color_primary;
                background-position: 24px center
            }

            &:focus{
                border: none;
                box-shadow: none;
                outline: none;
            }
        }


        .light_icon{
            background: url("/images/icon-light-theme.svg") center / contain no-repeat;
            display: block;
            height: 18px;
            width: 18px;
        }
        .dark_icon{
            background: url("/images/icon-dark-theme.svg") center / contain no-repeat;
            display: block;
            height: 18px;
            width: 18px;
        }
    }

    .btn_hide{
        background: none;
        border: none;
        color: $color_grey_3;
        cursor: pointer;
        font: $font_heading_m;
        margin: 25px 0 47px 60px;
        outline: none;
        position: relative;
        width: fit-content;
        
        &::before{
            background: url("/images/icon-hide-sidebar.svg");
            content: "";
            height: 16px;
            left: -30px;
            position: absolute;
            top: 0;
            width: 18px;
        }
    }

    .btn_show{
        background: $color_primary url("/images/icon-show-sidebar.svg") center / contain no-repeat;
        background-size: 16px;
        border-radius: 0 100px 100px 0;
        border: none;
        bottom: 32px;
        height: 48px;
        opacity: 1;
        outline: none;
        position: absolute;
        right: -56px;
        transition: all .2s;
        visibility: visible;
        width: 56px;

        &:hover{
            background-color: $color_primary_light;
        }
    }
}

#kanban.active{

    aside{
        left: 0;
        .btn_show{
            opacity: 0;
            visibility: hidden;
        }
        ul{
            li{
                &:hover:not(.active){
                    button{
                        background: $color_primary_light;
                        color: $color_white;
                        .board_icon{
                            background: url("/images/icon-board-light.svg") center / contain no-repeat;
                        }
                    }
                }
                &.active{
                    button{
                        background: $color_primary;
                        color: $color_white;
                        .board_icon{
                            background: url("/images/icon-board-light.svg") center / contain no-repeat;
                        }
                    }
                }
            }
        }
    }
}

body.dark{
    aside{
        background: $color_dark_2;
        border-right-color: $color_dark_1;
        .logo{
            background-image: url("/images/logo-light.svg");
        }
        .theme{
            background-color: $color_dark_3;
        }
    }
}