@import "../../assets/sass/variables";

.empty_board{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 34px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);

    @media only screen and (max-width: $bp_md) {
        gap: 24px;
    }

    p{
        color: $color_grey_3;
        font: $font_heading_l;
        text-align: center;
    }

    button{
        font: $font_heading_m;
    }
}