@import "../../assets/sass/variables";

nav{
    align-items: center;
    background: $color_white;
    display: flex;
    height: 97px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 50;

    @media only screen and (max-width: $bp_md) {
        height: 80px;    
    }

    @media only screen and (max-width: $bp-sm){
        height: 64px;
    }

    .logo{
        background: url("/images/logo-dark.svg") center / contain no-repeat;
        background-size: 152.53px 25.22px;
        border-right: 1px solid $color_grey_2;
        display: block;
        height: 100%;
        margin-right: 32px;
        width: 210px;

        @media only screen and (max-width: $bp-sm){
           background: url("/images/icon-only.svg") center / contain no-repeat;
           height: 25px;
           margin: 0 16px;
           width: 24px;
        }
    }

    h1{
        align-items: center;
        display: flex;
        font: $font_heading_xl;
        gap: 9px;
        margin-bottom: 0;
        transition: transform .2s;

        @media only screen and (max-width: $bp_md){
            font-size: 20px;;
        }
        @media only screen and (max-width: $bp-sm){
            cursor: pointer;
            font-size: 18px;
            user-select: none;

            .toggle_icon{
                background: url("/images/icon-chevron-up.svg") center / contain no-repeat;
                display: block;
                height: 8px;
                width: 8px;
            }
        }
    }

    .btn_add{
        font: $font_heading_m;
        margin: 0 15px 0 auto;
        @media only screen and (max-width: $bp-sm){
            background: $color_primary url("/images/icon-add-task-mobile.svg") center / contain no-repeat;
            background-size: 12px 12px;
            height: 32px;
            margin: 0 8px 0 auto;
            width: 48px;

            >span{
                display: none;
            }
        }
    }
    .menu{
        background: url("/images/icon-vertical-ellipsis.svg") center / contain no-repeat;
        border: none;
        height: 20px;
        margin-right: 25px;
        outline: none;
        width: 20px;
        @media only screen and (max-width: $bp-sm){
            margin-right: 8px;
        }
    }
}

#kanban.active{
    h1{
        transform: translateX(90px);

        @media only screen and (max-width: $bp_md) {
            transform: translateX(43px);
        }
        @media only screen and (max-width: $bp_sm) {
            transform: translateX(0px);
        }
    }
}

.dark{
    nav{
        background: $color_dark_2;
        .logo{
            background-image: url("/images/logo-light.svg");
            border-right-color: $color_dark_1;
        }
        h1{
            color: $color_white;
        }
    }
}