/* Colors */
$color_green: #5CA5A5;
$color_light_green: #EFF6F6;
$color_dark_green: #2B3939;

$color_white: #fff;
$color_black: #000;
/* Dark Mode */
$color_dark_1: #2B3844;
/* Fonts */
$font_primary: "League Spartan", sans-serif;

/* Breakpoints */
$bp_sm: 400px;
$bp_md: 800px;
$bp_lg: 1110px;