@import "./variables";
/* Resets */

*,
*::before,
*::after,
p{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;    
    scroll-behavior: smooth;
}

body{
    background: #F4F7FD;
    font-family: $font_primary;
}

.container{
    margin: 0 auto;
    max-width: $bp_lg;
    width: 90%;
}

.btn_primary{
    background: $color_primary;
    border-radius: 50px;
    border: none;
    color: $color_white;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    padding: 15px 25px;
    transition: all .1s;

    &:hover{
        background: $color_primary_light;
    }
}