@import "./variables";
/* Resets */

*,
*::before,
*::after,
p{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html{
    box-sizing: border-box;    
    scroll-behavior: smooth;
}

body{
    background: #F4F7FD;
    font-family: $font_primary;

    &.dark{
        background: $color_dark_3;
    }
}

main{
    flex: 1;
    position: relative;
    transition: all .2s;
}

#kanban{
    display: flex;
    flex-direction: column;
    height: calc(100vh - 102px);
    margin-top: 102px;

    @media only screen and (max-width: $bp_md) {
        height: calc(100vh - 86px);
        margin-top: 86px;
    }

    &.active{
        main{
            margin-left: 300px;

            @media only screen and (max-width: $bp_md) {
                margin-left: 260px;
            }
        }
    }
}

.container{
    margin: 0 auto;
    max-width: $bp_lg;
    width: 90%;
}

.btn_primary{
    background: $color_primary;
    border-radius: 50px;
    border: none;
    color: $color_white;
    cursor: pointer;
    font-family: inherit;
    outline: none;
    padding: 15px 25px;
    transition: all .1s;

    &:hover{
        background: $color_primary_light;
    }
}

.action_popover{
    border: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    min-width: 192px;
    .popover-arrow{
        display: none !important;
    }
    .popover-body{
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 18px 16px;

        button{
            background: none;
            border: none;
            font: 500 13px/23px $font_primary;
            outline: none;
            text-align: left;

            &.btn_edit{
                color: $color_grey_3;            
            }

            &.btn_delete{
                color: $color_red;
            }
        }
    }
}

.dark{
    .action_popover{
        background: $color_dark_3;
        box-shadow: rgba(79, 81, 83, 0.2) 0px 8px 24px;
    }
}